/* Navbar Container */
.navbar {
    background-color: #333; /* Background color of the navbar */
    display: flex; /* Use flexbox to arrange items horizontally */
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.navbar .leftnav {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.navbar .leftnav img {
    max-height: 50px; /* Adjust the height of the logo */
}

.navbar .rightnav {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
}
  
.navbar .rightnav button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar .rightnav svg {
    font-size: 40px;
}

.navbar #open {
    padding-left: 0px;
}

.navbar #open img {
    display: none;
}

.navbar #close img {
    display: inherit;
}

.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
}
  
.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open a {
    width: 70px;
    margin: 5px;
}


@media only screen and (max-width: 900px) {
    .navbar .rightnav a {
        width: 70px;
    }
    .navbar .leftnav {
        padding-left: 50px;
    }
}
  
@media only screen and (max-width: 600px) {
    .navbar .rightnav a {
        display: none;
    }
  
    .navbar .rightnav {
        justify-content: flex-end;
        padding-right: 50px;
    }
  
    .navbar .rightnav button {
        display: inherit;
    }
}
  
@media only screen and (min-width: 600px) {
    .navbar .rightnav button {
        display: none;
    }
  
    .hiddenLinks {
        display: none;
    }
}
  